extends layout.pug 

block content 
    section

        .home-content
            h2.title1.upper Company name
            p &quot;UZAUTO MOTORS&quot; Joint Stock Company

            h2.title1.upper Plant:
            p The total area is 72 hectares. Production space - 192 thousand square meters.
            p Located in the city of Asaka, Andijan region (Ferghana Valley).
            h2.title1.upper Branches:
            p Pitnak city, Khorezm region
            h2.title1.upper Productive capacity:
            p  &quot;UZAUTO MOTORS&quot; JSC Asaka 250 thousand cars
            p Pitnak Branch of  &quot;UZAUTO MOTORS&quot; JSC  - 40 thousand cars;
            h2.title1.upper Products:
            p
                | Currently, 10 models of cars under the Chevrolet and Ravon brands, in particular Matiz, Spark (R2), Nexia (R3), Cobalt models, are produced at 3 production sites of UZAUTO MOTORS JSC. (R4), Lacetti (Gentra) are produced at the main production in Asaka city, models Tracker, Malibu in the branch in Tashkent, models Damas, Labo in the branch in Pitnak.
            h2.title1.upper Suppliers of UZAUTO MOTORS:
            p
                | Over 100, including sub-suppliers. The main ones are &ldquo;Uz SeMyung&rdquo;, &ldquo;Uz Coram&rdquo;, &ldquo;Auto Component&rdquo;, &ldquo;Uz Dong Young&rdquo;, &ldquo;Uz Hanwu&rdquo;, &ldquo;Uz Dong Won Ko&rdquo;, &ldquo;Uz Dong Zhu Paint&rdquo;, &ldquo;Uz Tong Hong Ko&rdquo;, &ldquo;Uz Chasis&quot; and &quot;Avtooyna.&quot;
            h2.title1.upper Staff:
            p
                | The number of personnel of UZAUTO MOTORS JSC as of April 1, 2019 is more than 10,000 people.
            h2.title1.upper
                | &quot;THE PURPOSE OF THE COMMUNITY&apos;S ACTIVITY IS TO MAKE A PROFIT FROM THE MANUFACTURE, ASSEMBLY AND SALE OF CARS.&quot; SUBJECT OF COMMUNITY ACTIVITY
            ul
                li  - production, assembly and sale of cars;
                li  - production and sale of automotive parts and spare parts;
                li  - export and import operations, as well as intermediation operations;
                li  - marketing;
                li  - provision of engineering services;
                li  - lending, including borrowing from third parties and government agencies;
                li
                    | - to carry out any other activities permitted by the Legislation necessary to achieve the above objectives.
