section.section.navbar 
    h2.logo 
        a(href="/") PUT & DELETE

    nav.nav  
        a.nav-item(href="/students") Students
        a.nav-item(href="/students/create") Create student   
        a.nav-item(href="/modules") Modules   