section.navbar
    h1.logo
        a(href="/") UzAuto Motors

    nav.nav
        a.nav-item(href="/cars") Cars
        a.nav-item(href="/cars/create") Add Car
        a.nav-item(href="#") Press Center
        a.nav-item(href="#") Contact Us