extends layout.pug 

block content 
    section.section.page
        h1= title

        ul.list
            li.list-item 
                a(href="/modules") DBMS
            
            li.list-item 
                a(href="/modules") FunPro

            li.list-item
                a(href="/modules") Web Design
                  